$containerWidth: 600px;

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #a3bded 0%, #6991c7 100%) fixed;
}

.title-text {
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 2rem;
}
// View code btn
#code-btn {
  background-color: rgb(37, 37, 37);
  color: white;
  margin-bottom: 50px;

  &:hover {
    box-shadow: -2px 9px 33px 0px rgba(0, 0, 0, 0.5);
  }
}

.action-container {
  margin: 0 auto;
  margin-top: -100px;
  transform: translateY(10%);
  max-width: $containerWidth;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin-bottom: 150px;
  border-radius: 15px;

  .cell-img-container {
    margin-top: 30%;
    position: absolute;

    .cell-img {
      max-width: 100%;
      height: auto;
    }
  }

  //   Level Indicator
  .levelIndicator {
    position: absolute;
    background-color: rgba(184, 34, 184, 0.75);
    border-radius: 15px;
    left: 50%;
    margin-top: 5px;
    padding: 5px;
    transform: translateX(-50%);
    p {
      color: white;
      font-size: 20px;
    }
  }

  .healthIndicator {
    position: absolute;
    background-color: rgba(39, 245, 12, 0.842);
    border-radius: 15px;
    left: 50%;
    margin-top: 75px;
    padding: 5px;
    transform: translateX(-50%);
    p {
      color: white;
      font-size: 40px;
    }
  }
}

// To create responsive square
.action-container:after {
  content: "";
  display: block;
  padding-bottom: 10%;
}

#graph-img {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 130%;
  position: relative;
  max-width: 50%;
}

.side-buttons button {
  background-color: #49b1fe;
  color: #49b1fe;
  border: none;

  h1 {
    font-size: 20rem;
    margin-top: 50%;
    color: white;
  }
}

.side-btn-increase {
  background-color: rgb(18, 168, 4);
  position: fixed;
  margin-top: -1000px;
  float: left;
  transform: translateX(-102%);
  height: 1000px;
  width: 20vw;

  &:hover {
    box-shadow: -2px 9px 33px 0px rgba(0, 0, 0, 0.5);
  }
}

.side-btn-decrease {
  background-color: rgb(189, 16, 16);
  position: fixed;
  margin-top: -1000px;
  margin-left: 96.5%;
  height: 1000px;
  width: 20vw;

  &:hover {
    box-shadow: -2px 9px 33px 0px rgba(0, 0, 0, 0.5);
  }
}

.explanation-text p {
  margin-top: 40px;
  background-color: #64646491;
  color: rgb(236, 236, 236);
  text-align: center;
}
